<mat-table [dataSource]="proyectos" class="mat-elevation-z8">
    <!-- id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
      <mat-cell *matCellDef="let proyecto"> {{proyecto.id}} </mat-cell>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="startYear">
      <mat-header-cell *matHeaderCellDef> StartYear </mat-header-cell>
      <mat-cell *matCellDef="let proyecto"> {{proyecto.startYear}} </mat-cell>
    </ng-container>
  
    <!-- description Column -->
    <ng-container matColumnDef="endYear">
      <mat-header-cell *matHeaderCellDef> EndYear </mat-header-cell>
      <mat-cell *matCellDef="let proyecto"> {{proyecto.endYear}} </mat-cell>
    </ng-container>
  
    <!-- modified Column -->
    <ng-container matColumnDef="modified">
      <mat-header-cell *matHeaderCellDef> modified </mat-header-cell>
      <mat-cell *matCellDef="let proyecto"> {{proyecto.modified}} </mat-cell>
    </ng-container>
    <!-- series Column-->
    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
        <mat-cell *matCellDef="let proyecto">{{proyecto.title}}</mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let proyecto; columns: displayedColumns;"></mat-row>
  </mat-table>
